# backend
PORT=3000
POSTGRES_DB=app_template
POSTGRES_USER=app_template
POSTGRES_PASSWORD=app_template
POSTGRES_URL=postgresql://app_template:app_template@postgres:5432/app_template
JWT_SECRET=7f8a9c2b4d1e6f0a5b8c3d7e9f2a0b1c4d6e8f3a5b7c9d1e2f4a6b8c0d2e4f6a

# frontend
VITE_PORT=5173
VITE_ALLOWED_HOSTS=localhost:5173

# general
VITE_APP_URL=http://localhost:5173
VITE_API_URL=http://localhost:3000
